* {
	margin: 0;
	font-family: sans-serif;
}

.top {
	background-color: #3F3B3F;
	color: white;
	font-family: sans-serif;
	padding-top: 10em;
	padding-bottom: 10em;
	  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}

h1 {
	position: absolute;
	left: 0.5em;
}

h3 {
	font-family: sans-serif;
	letter-spacing: 26;
	font-style: oblique;
	text-shadow: 0px -4px black;
	color: white;
	padding-top: 2em;
	padding-bottom: 2em;
}
h2 {
	font-family: sans-serif;
	letter-spacing: 26;
	font-style: oblique;
	text-shadow: 0px -4px black;
	color: #98c9f5;
	padding-top: 2em;
	padding-bottom: 2em;
}
.contact-wrap {
	text-align: center;
	list-style: none;
	padding: 0;
	padding-bottom: 3em;
	border-radius: 28px;

}

.me-wrapper {
	background-color: #abd9cc;
  	margin: 0 auto;
  	width: 50%;
  	margin-top: 6em;
  	padding: 1em;
  	box-shadow: 10px 10px #8ebdb0;

}

.me-wrapper:hover {
	transform: scale(1.1);
	transition: all 0.8s ease-in-out;
	box-shadow: 0px 0px;
}

.more-wrapper {
	background-color: #dfa2e8;
  	margin: 0 auto;
  	width: 50%;
  	margin-top: 10em;
  	padding: 1em;
  	box-shadow: 10px 10px #c786d1;

}

.more-wrapper:hover {
	transform: scale(1.1);
	transition: all 0.8s ease-in-out;
	box-shadow: 0px 0px;
}
.javas-wrapper {
	background-color: #9ab2d9;
	margin: 0 auto;
	width: 50%;
	margin-top: 10em;
	padding: 1em;
	box-shadow: -10px -10px #849cc4;
}
.javas-wrapper:hover {
	transform: scale(1.1);
	transition: all 0.8s ease-in-out;
	box-shadow: 0px 0px;
}

.adjective-wrapper, .adj {
	padding-top: 1em;
	padding-left: 0.5em;
}

.adj {
	display: none;
	color: grey;
	font-style: italic;
}

.arrow {
  position: absolute;
  padding: 0.3rem; /* Arrow size */
    box-shadow: 1px -1px 0 1px darkblue inset;
  -webkit-box-shadow: 2px -2px darkblue inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  transition: 0.2s;
  margin-left: 1em;
  float: right;
}

.arrow:hover {
  box-shadow: 2px -2px 0 2px black inset;
  -webkit-box-shadow: 4px -4px black inset;
}

.arrow-right { transform:rotate(225deg) }


/**/
.divider-body {
		display: flex;
		justify-content: center;
		align-content: center;
		margin: 5em
		;
		padding: 0;
	}


	.divider-wave {
		width: 20%;
		height: 10%;
		background: white;
		overflow: hidden;
	}

.divider-wave:before {
	content: attr(data-text);
	position: relative;
	color: white;
	font-size: 4em;
	text-decoration-style: wavy;
	text-decoration-color: #607d8b;
	text-decoration-line: line-through;
	animation: animate 0.5s linear infinite;
}

@keyframes animate 
{
	0%
	{
		left: 0;
	}
	100% 
	{
		left: -30px;
	}
}


#me-2ndtext{
    display: none;
} 

@media screen and (min-width: 601px) {
  #me-2ndtext, {
    display: block;
    padding-top: 2em;
  }
}

@media screen and (min-width: 601px) {
  .me-wrapper, .javas-wrapper, .more-wrapper {
  	width: 40%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 1em;
}







